{% load static %}
<link rel="stylesheet" href="{% static 'css/first_css.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма создания и редактирования Авторов</title>
</head>
<body>
    <div id="container">
        <form id="form" method="post">
            {% csrf_token %}
            {{ form }}
            <div id="button-wrapper">
                <div>
                    <input class="button" type="submit" value="Сохранить">
                </div>
                <div>
                    <input class="button button3" type="reset" value="Отменить">
                </div>
        </form>
        <form action="delete/">
                <div>
                    <button class="button button2">Удалить</button>
                </div>
        </form>
            </div>
    </div>
{% block  list %}
{% endblock %}
</body>
</html>