Добро пожаловать в {{title | upper }}. <br>
Тут собрано {{ books | length }} книг из моей личной коллекции.
<br>
<br>

Конструкция с фильтром {{force|first}}

{#{% for i in pub_houses %}#}
{#    <h1>{{ i }}</h1>#}
{#        {% for ii in i.books.all %}#}
{#            <p>{{ ii.title }}</p>#}
{#        {% endfor %}#}
{#{% endfor %}#}

<br>
<br>

{% comment %} <br> {{books}} <br> {% endcomment %}

<table border="1" >
	{% for book in books %}
	<tr>
		<td>{{ forloop.counter }}</td>
		<td>{{ book.title }}</td>
		<td>{{ book.description }}</td>
		<td>{{ book.year_release }}</td>
		<td>{{ book.author.full_name }}</td>
		<td>{{ book.author.country }}</td>
		<td>{{ book.copy_count }}</td>
		<td>
			<form action='/index/book_increment/' method='post' enctype='multipart/form-data'>
				{% csrf_token %}
				<input type='hidden' name='id' value='{{book.id}}'/>
				<input type='submit' value='Увеличить кол-во'/>
			</form>
			<form action ='/index/book_decrement/' method='post' enctype='multipart/form-data'>
				{% csrf_token %}		
				<input type='hidden' name='id' value='{{book.id}}'/>
				<input type='submit' value='Уменьшить кол-во'/>
			</form>
		</td>
	</tr>
	{% endfor %}
</table><br>

{% for i in list_num %}
	{% if i|divisibleby:"3" %}
		{{i}}
	{% endif %}
{% endfor %}
<br><br>

Самая дорогая книга в библиотеке - {{book_max_price}} <br>
Самая недорогая книга в библиотеке {{book_min.price}} - {{book_min.copy_count}} шт.<br>

Стоимость - {{book_summ_if}}<br>
{{vot}}<br>
{{vot2}}<br>
{{vot3}}<br>
{{vot4}}<br>
{{vot5}}<br>
{% comment %} Стоимость всех импортных книг {{}} {% endcomment %}